@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Reddit Sans Condensed", sans-serif;
}

.card {
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}

.card:hover,
.card:focus {
  translate: 0 -5px;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 0.2);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a1a4a9; /* Customize thumb color */
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #ffffff; /* Customize track color */
}
